.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}
.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 800px;
}
.home-logo{
    margin-top: 100px;
}
@media only screen and (min-width: 1440px) {
    .home-section{
        background-image: url("/img/home/desk.png");
height: 960px;
    }
.home-logo {
    margin-top: 150px;
}
}
/* The Concept */
.concept-img-desk{
    display: none;
}
.concept-img{
    margin: 18px auto;
}
.concept-text{
    width: 332px;
}
.concept-container{
    padding-top: 80px;
}
@media only screen and (min-width: 1440px) {
.concept-container {
    padding-top: 150px;
    position: relative;
}
.concept-img{
position: absolute;
top: 150px;
left: 188px;
}
.concept-img-desk{
    display: block;
position: absolute;
    top: 150px;
    right: 188px;
}
.concept-text{
    width: 849px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
    text-align: center;
}
}
/* How It Works */
.how-section{
    background-image: url("/img/how/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.how-list{
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.how-item{
    border: 1px solid #8bdecf;
        border-radius: 42px;
        padding: 10px;
        width: 335px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
}
.how-item-text{
    border: 1px solid #8bdecf;
        border-radius: 32px;
        padding: 8px 4px;

        text-align: center;
}
.how-container{
padding-top: 18px;
padding-bottom: 52px;
}
@media only screen and (min-width: 1440px) {
.how-section {
        background-image: url("/img/how/desk.png");
    }
.how-container{
    padding-top: 36px;
    padding-bottom: 71px;
}
.how-list{
    margin-top: 24px;
    width: 1011px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 236px;
    row-gap: 22px;
}
.h1{
    width: 386px;
}
.h2{
    width: 420px;
}
.h3{
    width: 348px;
}
.h4{
    width: 605px;
}
.h5,
.h6,
.h7{
    width: 356px;
}
.how-item-text{
    padding: 12px 14px;
}
}